
.container{
		background-color:  linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7)),white;
			background-image: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7));
			position:absolute;
			width:45%;
			top:45%;
			left:32%;
			padding:30px;
			border-radius: 10px;
		}
			.innercontainer
		{
			background:transparent;
			border-style: solid;
			border-width: 1px;
			border-color:#DC143C;
			border-radius: 10px;
			padding:15px ;
			margin-top: 15px;
		}

		.frmbtn{
			background: transparent;
			border-radius: 5px;
			padding: 5px;
            border-style: solid;
            border-width: 1px;
            border-color: #5D6D7E;
            margin-top: 7px;
		}
		.frmbtn:hover{
			color:#DC143C;
			border-color:#DC143C; 
		}
		.containeralert{
			background-color:  linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7)),white;
			background-image: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7));
			position:absolute;
			width:45%;
			top:45%;
			left:32%;
			padding:30px;
			border-radius: 10px;
			text-align: center;
			color:#FF4500;

		}  

		.inputfrm{
			background:transparent;
			border-style: solid;
			border-color: #FF4500;
			border-width: 1px;
            color: #FF4500;
            margin-right: 10px;
            margin-top: 8px;
		}
		.containerLlogari{
          background-color:  linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7)),white;
		  background-image: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7));
			position:absolute;
			width:45%;
			height:30%;
			top:40%;
			left:32%;
			padding:30px;
			border-radius: 10px;
			text-align: center;
			color:#34495E;

		}
    .mesazhEkstra{
    	   background-color:  linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7)),white;
		  background-image: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7));
		  position:relative;
			width:45%;
			height:10%;
			top:40%;
			left:32%;
			padding:30px;
			border-radius: 10px;
			text-align: center;

    }

    .searchBar{
     position:relative;
			width:30%;
			height:5px;
			left:32%;
			padding:30px;
			border:none;
			text-align: center;
			border-radius: 10px;

    }
    .inputSearch{
    	background: transparent;
    	color:white;
    	border-style: solid;
			border-color: white;
			border-width: 1px;
    	border-top: transparent;
    	border-left: transparent;
    	border-right: transparent;
    }
    .inputSearch:focus{
    	outline:none;
    }
    .searchBtn{
    	
    	background:transparent;
			border-style: solid;
			border-color: white;
			border-width: 1px;
            color: white;
            padding: 5px;
            border-radius:10px;
         
            
    }