body {
			height: 125vh;
			background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(laptop.jpg);
			background-size: cover;
			font-family: sans-serif;
			background-repeat: no-repeat;
		    }
		    nav{
		    	background-color: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)),white;
		    	background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75));
		    	position: fixed;
		    	width:200px;
		    	height:100%;
		    	top: 0;
		    	left: 0;
		    	right: 0;
		    	
	            display: flex;
		    	align-items: center;
		    	box-shadow: 0 0 25px 0 white;
		    	overflow: hidden;
		    } 
		   
		    nav li {
		    	margin: 20px;
		    	list-style: none;
		    	padding: 10px;

		    }

		    nav li a {
		    	color: #DC143C;
		    	text-decoration: none;
		    	font-size: 1.1em;

		    }
		    nav li a:hover {
		    	color: #FF7F50;
		    }

		    .logout{
		    	text-decoration: none;
		    	color:white;
		    	font-family: sans-serif;
		    	font-size:1.2em;
		        position: absolute;
		        margin-top:35px;
		        left:85%;
                padding:5px;
		    	border-color: white;
		    	border-top:solid;
		        
		    }
		    .logout:hover{
		    	color:#DC143C;
		    	border:none;

		    }
         
         






            


         
